/*10/8*/
/*toyo*/

/* .girlPhoto{
} */
/* .pc{
    width: 900px;
} */
.tel{
    width: 600px;
    height: 100px;
    background-color: aliceblue;
}

.girlPhotoBigBox{
 
    background-size: 52%;
    background-color: #ffd6d6;
    background-image: url(../img/photoBack.png);
    background-repeat: repeat;
    border: 3px #f988a6 solid;
    border-radius: 5px;
}
.girlPhotoBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.girlPhotoBox img{
    width: 90%;
    height: 94%;
    object-fit: cover;
}
.girlPhotoName{
    width: 95%;
    height: 12%;
    background-color: #ffffff;
    color: #ff3636;
    font-size: 19px;
    text-align: center;
    vertical-align: middle;
    border: 3px #ff658d solid;
}
.wrap{
    border: 3px solid #016514;
    width: 900px;
    height: 280px;
	position: relative;
	overflow: hidden;
}

.wrap ul{
	overflow: hidden;
	position:absolute;
	width: 1600px;
	left: 0;
	top: 0;
	_height:1px;
}

.wrap ul li{
	float: left;
    width: 200px;
    height: 280px;
}
.wrap ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.indexlink{
    width: 900px;
    height: 308px;
    background-image: url(../img/linkkk.gif);
    margin-top: 50px;
}
.indexlink1{
    width: 900px;
    height: 430px;
    background-image: url(../img/event1.png);
    margin-top: 50px;
}
.event{
    width: 900px;
    height: 610px;
    background-image: url(../img/event.gif);
}
.news{
    /* background-color: #310203; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.newsTitle{
    height: 10%;
    background-image: url(../img/news.png);
}

.newsText{
    overflow-y: scroll;
    border: 2px #0c6327 solid;
    border-radius: 10px;
    
}

.text{
    height: 420px;
    width: 95%;
    margin: 3%;
    font-size: 25px;
    color:  #000000;
}
.text p{
    width: 100%;
    color: #0c6327;
}

    .watermark2{
        width: 201px;
        height: 274px;
        background: top right url(../img/new.png),center url(../img/watermark.png);
        background-repeat: no-repeat;
        z-index: 80;
        position: absolute;
    }
    .l{
        width: 200px;
        height: 312px;
        margin-top: 17px;
        border: 1px #ffffff solid;
    }
    .l img{
        object-fit: cover;
        width: 100%;
        height: 96%;
    }
    .photo div{
        font-size: 25px;
        text-align: center;
        vertical-align: middle;
    }

    /* .pc{
        height: 1137px;
    }
    .Mobile{
        display: none;
    }
    .right{
        width: 600px;
        height: 100%;
        float: right;
    }
    .left{
        width: 300px;
        height: 100%;
        float: left;
    }
    .focus {
        width: 900px;
        height: 320px;
    } */
    .aaa{
        width: 900px;
        height: 409px;
        background-image: url(../img/newsBack.jpg);
        background-size: contain;
    }
    .girlPhoto{
        float: left;
        width: 249px;
        height: 345px;
        margin-left: 30px;
        margin-top: 27px;
    }
    /* .girlPhotoBox{
        width: 80%;
        height: 80%;
    } */
    .news{
        width: 600px;
        height: 410px;
        float: left;
        margin-top: 0px;
    }
    .news1{
        width: 500px;
        height: 265px;
        overflow-y: scroll;

    }
    .text {
        height: 238px;
        width: 95%;
    }
    
   .newsText {
    width: 525px;
    height: 340px;
    }
    .newsTitle ,.twitterTitle{
        width: 800px;
        height: 123px;
        background-size: contain;
    }
    .line ,.map ,.map1{
        width: 99%;
        height: 162px;
        margin: 10px;
    }
    .swiper-container {
        background-size: 52%;
        background-repeat: repeat;
        border: 3px #0c6327 solid;
        border-radius: 5px;
    }
    .watermark {
        width: 226px;
        height: 328px;
    }